{{!< default}}

{{#get "posts" include="tags,authors" filter="featured:true" limit="1" as |featured|}}
  {{#if featured}}
    {{#foreach featured}}
      {{> "top-story"}}
    {{/foreach}}
  {{else}}
    {{#get "posts" include="tags,authors" limit="1" as |lastpost|}}
      {{#foreach lastpost}}
        {{> "top-story"}}
      {{/foreach}}
    {{/get}}
  {{/if}}
{{/get}}

<div class="container overlap">
  {{> "posts"}}
</div>