{{!< default}}

{{#post}}
<header class="featured"
  style="background: linear-gradient(to top, rgba(0,0,0,.2), rgba(0,0,0,.3)), url({{feature_image}}) no-repeat center / cover, #111111">
  <div class="container">
    <div class="featured-container">
      <h1 class="feature-headline">{{title}}</h1>
    </div>
  </div>
  </div>
</header>

<div class="container overlap-further">
  <article class="main {{post_class}}">
    {{content}}
  </article>
</div>

{{/post}}