{{!< default}}
{{#tag}}
<header class="featured"  style="background: linear-gradient(to top, rgba(0,0,0,.2), rgba(0,0,0,.3)), url({{feature_image}}) no-repeat center / cover, #c1c1c1">
  <div class="container">
    <div class="featured-container">
      <h1 class="feature-headline">{{name}}</h1>
      <p class="feature-preview">{{description}}</p>
    </div>
  </div>
</header>
{{/tag}}

<div class="container overlap further">
  {{> "posts"}}
</div>