@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  font-size: 15px;
  background-color: #ececec;
  font-weight: 400;
}

section.container {
  width: 85%;
  max-width: 800px;
  margin: 0 auto;
}

header.featured {
  height: 100vh;

  img.feature-image {
    position: absolute; 
    top: 0; 
    left: 0; 
    height: 100vh;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.8);
  }

  section.container {
    div.featured-container {
      width: 70%;
      position: absolute;
      top: 35vh;
      color: white;

      a {
        text-decoration: none;
        color: currentColor;
        line-height: 1.2em;

        svg {
          float: left;
          height: 1.2em;
          width: auto;
          margin-right: 1em;
        }
      }

      h1.feature-headline {
        font-size: 4em;
        margin: .2em 0 0 0;
      }

      p.feature-preview {
        padding-left: 0.2em;
        width: 50%;
        line-height: 1.55;
        letter-spacing: .02em;
      }
    }
  }
}

section.articles {
  position: relative;
  top: -150px;
  background-color: white;
  z-index: 2;
  padding: 50px 8%;
  border-radius: 5px;

  .no-margin {
    margin-top: 0;
  }
  
  div.two-articles {
    display: flex;

    article {
      width: 50%;
    }
  }

  article {
    display: flex;
    margin: 2em 0;

    div.margin-right {
      margin-right: 2em;
    }

    div.margin-left {
      margin-left: 2em;
    }

    div {
      width: 100%;

      h1 {
        margin: 0;
        font-size: 2.2em;
        color: #303030;
      }

      p {
        line-height: 1.55;
        letter-spacing: .02em;        
        color: #545454;
      }

      div.meta {
        margin-top: 0.5em;
        margin-bottom: -0.3em;
        color: #545454;

        span {
          color: #111;
          font-weight: 600;
        }
      }

      a.tag {
        text-decoration: none;
        color: currentColor;
        line-height: 1.2em;

        svg {
          float: left;
          height: 1.2em;
          width: auto;
          margin-right: 1em;
        }
      }

    }

    img.post-image {
      width: 100%;
      height: 300px;
      object-fit: cover;
      border-radius: 5px;
    }
  }
}

footer {
  padding: 45px 0;
  background-color: #f6f8fa;
  width: 100%;
  display: flex;

  div.footer-right {
    float: right;
    text-align: right;
    font-size: 0.9em;
    line-height: 1.5em;
    
    span {
      display: block;
      color: #c1c1c1;

      a {
        text-decoration: none;
        color: currentColor;
      }
    }
  }

  div.footer-left {
    float: left;

    span {
      font-size: 1.5em;
      font-weight: 700;
    }
  }
}