@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  background-color: #ececec;
  font-weight: 400;
  overflow-x: hidden;
  width: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

figure,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

div.container {
  width: 85%;
  max-width: 1000px;
  margin: 0 auto;
}

header.global {
  padding: 30px 0;
  width: 100%;
  position: absolute;

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a {
    text-decoration: none;
    color: currentColor;
  } 

  div.nav {
    text-align: right;
    line-height: 1.5em;

    a {
      display: inline;
      color: #fff;
      margin: 0 1em;
      text-transform: uppercase;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  div.brand {
    img.logo {
      filter: brightness(255);
      height: 2em;
    }

    span.title {
      font-size: 1.5em;
      font-weight: 700;
      color: #fff;
    }
  }
}

div.overlap-further {
  position: relative;
  top: -10rem;
}

header.featured {
  height: 100vh;
  display: flex;
  color: white;
  align-items: center;

  div.container {
    position: relative;
    top: -5rem;

    div.featured-container {
      display: flex;
      flex-direction: column;
      color: white;
      justify-content: center;
  
      aside.meta {
        display: flex;
        flex-direction: row;

        &.text {
          color: #f5f5f5;

          span {
            text-indent: 0.3em;

            &.special {
              color: #fff;
              font-weight: 600;
            }
          }
        }
      }

      span.author-location, span.readingtime {
        line-height: 1.2em;
        flex-direction: row;
        align-items: center;
        display: flex;
        width: 30%;

        svg {
          margin: 0 1em 0 2em;
          height: 1.2em;
          width: auto;  
        }     
      }

      a {
        text-decoration: none;
        color: currentColor;
        line-height: 1.2em;
        flex-direction: row;
        align-items: center;
        display: flex;
        margin-left: .2em;
        text-shadow: 0 1rem 2rem rgba(50, 50, 50, .5);    
        
        &.feature-tag {
          svg {
            margin-right: 1em;
          }
        }

        &.read-button {
          text-transform: uppercase;
          letter-spacing: .03em;
          font-weight: 600;

          svg {
            margin-left: 1em;
          }
        }

        svg {
          height: 1.2em;
          width: auto;  
        }
      }

      h1.feature-headline {
        font-size: 4em;
        margin: .2em 0 0 0;
        text-shadow: 0 1rem 2rem rgba(50, 50, 50, .5);
      }

      p.feature-preview {
        padding-left: 0.2em;
        width: 50%;
        line-height: 1.55;
        letter-spacing: .02em;
        text-shadow: 0 1rem 2rem rgba(50, 50, 50, .5);        
      }
    }
  }
}


section.articles {
  position: relative;
  top: -150px;
  background-color: white;
  z-index: 2;
  padding: 50px 8%;
  border-radius: 5px;
  display: grid;

  a {
    text-decoration: none;
    color: currentColor;
  }
  
  .no-margin {
    margin-top: 0;
  }
  
  div.two-articles {
    display: flex;

    article {
      width: 50%;
    }
  }

  article {
    display: flex;
    margin: 2em 0;

    div.margin-right {
      margin-right: 2em;
    }

    div.margin-left {
      margin-left: 2em;
    }

    div {
      width: 100%;

      h1 {
        margin: 0;
        font-size: 2.2em;
        color: #303030;
      }

      p {
        line-height: 1.55;
        letter-spacing: .02em;        
        color: #545454;
      }

      div.meta {
        margin-top: 0.5em;
        margin-bottom: -0.3em;
        color: #545454;

        span {
          color: #111;
          font-weight: 600;
        }
      }

      a.tag {
        text-decoration: none;
        color: currentColor;
        line-height: 1.2em;

        svg {
          float: left;
          height: 1.2em;
          width: auto;
          margin-right: 1em;
        }
      }

      a.icon-only {
        text-decoration: none;
        color: currentColor;
        line-height: 1.2em;

        svg {
          height: 1.2em;
          width: auto;
          margin-right: 1em;
        }
      }
    }

    img.post-image {
      width: 100%;
      height: 300px;
      object-fit: cover;
      border-radius: 5px;
    }
  }
}

article.main {
  position: relative;
  top: -150px;
  background-color: white;
  z-index: 2;
  padding: 50px 20%;
  border-radius: 5px;
  color: #545454;
  font-size: 1.05em;
  text-align: justify;

  p,
  li,
  blockquote {
    line-height: 1.45;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: -0.5em;
    color: #272727;
  }

  figure.kg-image-card {
    margin: 1em 0;
    position: relative;
    left: 7%;
    width: 60%;
    float: right;

    &.kg-width-wide {
      width: 100%;
      float: none;
      left: 0;
    }

    &.kg-width-full {
      width: 120%;
      position: relative;
      left: -10%;
      float: none;
    }

    img.kg-image {
      width: 100%;
      border-radius: 5px;
    }
  }
}

footer {
  padding: 5rem 0;
  background-color: #f6f8fa;
  width: 100%;

  div.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a {
    text-decoration: none;
    color: currentColor;
  }

  div.footer-right {
    text-align: right;
    font-size: 0.9em;
    line-height: 1.5em;

    span {
      display: block;
      color: #c1c1c1;
    }
  }

  div.footer-left {
    img.logo {
      filter: brightness(0);
      height: 2em;
    }

    span.title {
      font-size: 1.5em;
      font-weight: 700;
    }

    div.secondary-nav {
      margin-top: 1em;
      text-transform: uppercase;
      color: #c1c1c1;

      span {
        margin-right: 1em;
      }

      a:hover {
        color: #111;
      }
    }
  }
}