@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  background-color: #ececec;
  font-weight: 400;
  overflow-x: hidden;
  width: 100%;
  min-height: 100%;
}

figure,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

section.container {
  width: 85%;
  max-width: 1000px;
  margin: 0 auto;
}

header.featured {
  min-height: 500px;
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 200px;
  box-sizing: border-box;
  background-color: #212121;
  color: #fff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}